footer.c-footer
	.o-container
		.c-footer__top
			.c-footer__brand
				ul
					li
						a.c-footer__gmx(href=urlFolder title='GMX Seguros - Home')
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Logo-2.png'
								alt='Imagen logo GMX Seguros'
							)
					li
						a.c-footer__tel(href='tel:5554804000' title='Llamar al (55) 5480.4000' target='_blank') (55) 5480.4000

			.c-footer__col
				ul.c-footer__menu
					li: .c-footer__title(role='heading' aria-level='4'): a(href='#' title='Legal') Legal
					li: a(href='#!' title='Resultados financieros') Resultados financieros
					li: a(href='#!' title='Buró de entidades financiera') Buró de entidades financiera
					li: a(href='#!' title='Denuncia anónima GMX') Denuncia anónima GMX
					li: a(href='#!' title='Derechos básicos de los asegurados') Derechos básicos de los asegurados
					li: a(href='#!' title='CONDUSEF') CONDUSEF
			.c-footer__col
				ul.c-footer__menu
					li: .c-footer__title(role='heading' aria-level='4'): a(href='#' title='Centro de atención a clientes') Centro de atención a clientes
					li: a(href='#!' title='Oficinas de atención') Oficinas de atención
					li: a(href='#!' title='Unidad especializada de atención a clientes') Unidad especializada de atención a clientes
					li: a(href='#!' title='Unidad Especializada (UNE)') Unidad Especializada (UNE)

			.c-footer__col
				ul.c-footer__menu
					li: .c-footer__title(role='heading' aria-level='4'): a(href='#' title='Soy proveedor') Soy proveedor
					li: a(href='#!' title='Manual de Pagos') Manual de Pagos
					li: a(href='#!' title='Login') Login

			.c-footer__col
				ul.c-footer__menu
					li: .c-footer__title(role='heading' aria-level='4'): a(href='#' title='Trabaja con nosotros') Trabaja con nosotros
					li: a(href='#!' title='Quiero trabajar en GMX Seguros') Quiero trabajar en GMX Seguros
					li: a(href='#!' title='Quiero ser agente de Seguros de GMX') Quiero ser agente de Seguros de GMX

	.o-container
		.c-footer__bottom
			.c-footer__social
				ul
					li: a.i-btn.i-btn--facebook(href='#' target='_blank' title='Facebook') #[i.i-icon.i-facebook] #[span.sr-only Facebook]
					li: a.i-btn.i-btn--linkedin(href='#' target='_blank' title='Linkedin') #[i.i-icon.i-linkedin] #[span.sr-only Linkedin]
					li: a.i-btn.i-btn--twitter(href='#' target='_blank' title='Twitter') #[i.i-icon.i-twitter-x] #[span.sr-only Twitter X]
			.c-footer__logos
				ul
					li
						a(href='#' target='_blank' title='Grupo Valore') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Grupo-Valore.png'
								alt='Imagen logo Grupo Valore'
							)
							span.sr-only Grupo Valore
					li
						a(href='#' target='_blank' title='Ana Seguros') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Ana-seguros.png'
								alt='Imagen logo Ana Seguros'
							)
							span.sr-only Ana Seguros
					li
						a(href='#' target='_blank' title='Prevem Seguros') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Prevem.png'
								alt='Imagen logo Prevem Seguros'
							)
							span.sr-only Prevem Seguros
					li
						a(href='#' target='_blank' title='Seguros Argos') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Seguros-Argos.png'
								alt='Imagen logo Seguros Argos'
							)
							span.sr-only Seguros Argos

					li
						a(href='#' target='_blank' title='Más Servicios') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Mas-servicios.png'
								alt='Imagen logo Más Servicios'
							)
							span.sr-only Más Servicios

					li
						a(href='#' target='_blank' title='Buró de Entidades Financieras') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Buro.png'
								alt='Imagen logo Buró de Entidades Financieras'
							)
							span.sr-only Buró de Entidades Financieras
					li
						a(href='#' target='_blank' title='Condusef') 
							img.js-lazy(
								src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg'
								data-src=urlFolder + 'images/global/GMX-Condusef.png'
								alt='Imagen logo Condusef'
							)
							span.sr-only Condusef
					//- li
					//- 	a(href="#" target="_blank" title="Empresa Socialmente Responsable") 
					//- 		img.js-lazy(src=urlFolder+"images/global/GMX-Placeholder-Small.jpg" data-src=urlFolder+"images/global/GMX-ESR.png" alt="Imagen logo Empresa Socialmente Responsable")
					//- 		span.sr-only Empresa Socialmente Responsable

	.o-container
		.c-footer__legal
			p &copy;2024 GMX Seguros.
			ul
				li: a(href='#' title='Solicitudes y Condiciones') Solicitudes y Condiciones
				li: a(href='#' title='Mapa de sitio') Mapa de sitio
				li: a(href='#' title='Aviso de privacidad') Aviso de privacidad
				li: a(href='#' title='Aviso legal') Aviso legal
				li: a(href='#' title='Preguntas frecuentes') Preguntas frecuentes
