extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'seguros/decenal.html';
	- page['title'] = 'Decenal';
	- page['descrip'] = 'Página de seguros de tipos decenal.';
	- page['keys'] = '';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column
							h1 #[small Seguros] Seguro #[strong Decenal]
		.c-navigation-page
			.c-navigation-page__list-section
				ul(role='navigation' aria-label='Secciones del sitio')
					li.container-anchor.container-anchor--active
						a(href='#introduccion' title='Ir a la sección Introducción') Introducción
					li.container-anchor
						a(href='#en-que-consiste' title='Ir a la sección de ¿En qué consiste?') ¿En qué consiste?
					li.container-anchor
						a(href='#para-quien-es' title='Ir a la sección de ¿Para quién es?') ¿Para quién es?
					li.container-anchor
						a(href='#cobertura' title='Ir a la sección de Cobertura') Coberturas
					li.container-anchor
						a(href='#consideraciones' title='Ir a la sección de Consideraciones') Consideraciones
					li.container-anchor
						a(href='#fovissste' title='Ir a la sección de FOVISSSTE') FOVISSSTE
					li.container-anchor
						a(href='#infonavit' title='Ir a la sección de INFONAVIT') INFONAVIT
					li.container-anchor.container-anchor--bold
						a(href='#contactar' title='Ir a la sección Contactar ahora') Contactar ahora
		#introduccion.c-introduction-text
			.c-introduction-text__text-container
				p Es importante considerar que una vez finalizada la etapa de construcción se hace la entrega de tu patrimonio, y se pueden presentar daños por vicios ocultos en el mismo.
				p Es por esto que en GMX Seguros te respaldamos obligándonos a reparar los daños que se presenten una vez entregado el inmueble y que procedan de vicios ocultos en la construcción.

		#en-que-consiste.c-consists
			section.c-consists.c-consists__card-safe
				h2 ¿En qué consiste?
				.c-consists__card-safe__container-card
					.c-consists__card-safe__container-card__card
						p Es un seguro que cubre la etapa posterior a la construcción.
					.c-consists__card-safe__container-card__card.c-consists__card-safe__container-card__card--image-container
						img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-grupo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Imagen de un grupo de constructores')

		#para-quien-es.c-consists
			section.c-for-whom
				h2 ¿Para quién es?
				p Esta póliza ofrece cobertura para:
				ul.c-for-whom__box-container
					li.c-for-whom__box-container__box.c-for-whom__box-container__box--blue
						p Desarrolladores inmobiliarios
						.c-for-whom__box-container__box__container-image
							img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-like.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de like')
					li.c-for-whom__box-container__box.c-for-whom__box-container__box--light-blue
						p Constructoras
						.c-for-whom__box-container__box__container-image
							img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-like.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de like')
					li.c-for-whom__box-container__box.c-for-whom__box-container__box--light-blue
						p Infonavit (aplica para viviendas con o sin avance de obra)
						.c-for-whom__box-container__box__container-image
							img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-like.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de like')
					li.c-for-whom__box-container__box.c-for-whom__box-container__box--blue
						p FOVISSSTE
						.c-for-whom__box-container__box__container-image
							img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-like.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de like')

		#cobertura.c-coverage
			section.c-coverage__container-banner
				h2 Coberturas
				.c-coverage__container-elements
					.c-coverage__list-elements
						h3 Seguridad. 10 años
						p Daños que afectan a cimentaciones, estructura u otros elementos que determinan la estabilidad y solidez de la edificación, por:
						ul.c-coverage__list-elements
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Vicios de construcción y hechura.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Vicios del suelo en el cual se construyó.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Mal comportamiento estructural.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Error de cálculo y diseño estructural.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Mala resistencia y calidad de los materiales.
					.c-coverage__list-elements
						h3 Coberturas Adicionales.
						p Daños que afectan la habitabilidad de la vivienda ocasionados por:
						ul.c-coverage__list-elements
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Vicios de construcción y hechura.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Mala resistencia y calidad de los materiales.
					.c-coverage__list-elements
						h3 Instalaciones. 2 años.
						p Daños en instalaciones hidrosanitarias, eléctricas y de gas colocadas por el desarrollador que afecten la habitabilidad de la vivienda, ocasionados por:
						ul.c-coverage__list-elements
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Vicios de construcción y hechura.
							li.c-coverage__list-elements__container-element
								.c-coverage__list-elements__container-image
									img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-escudo.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icono de un escudo')
								.c-coverage__list-elements__element
									p Mala calidad de los materiales utilizados.

		#consideraciones.c-consists
			section.c-considerations
				h3 Consideraciones #[span Es importante para realizar una cotización]
				.c-container-cards
					ul.box-container
						li.box-container__box.box-container__box--expand
							span 1
							p Mostrar los ingresos anuales por su actividad, tipo y cantidad de materiales peligrosos almacenados.
						li.box-container__box.box-container__box--image
							img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-todo-ok.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Icon Scientist')

		#fovissste.c-fovissste
			section.container-fovissste
				h3 Información FOVISSSTE
				.container-fovissste__container
					a(
						href='#'
						aria-label='Link hacia facturacion Oferentes de vivienda'
						title='Ir hacia facturacion Oferentes de vivienda'
						).o-card-large
						p Facturación: Oferentes de vivienda
						.o-btn-arrow
							i.i-icon.i-arrow-up-right(aria-hidden='true')

				.container-fovissste__container
					a.o-card-large
						p Comunicado normalización de operación 2024
						.o-btn-arrow.o-btn-arrow--arrow-down
							i.i-icon.i-arrow-up-right(aria-hidden='true')

				.container-fovissste__container
					a.o-card-large
						p Certificados: Acreditados FOVISSSTE
						#button-expand-1.o-btn-arrow.o-btn-arrow--arrow-down
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					ul#contenido-1.container-fovissste__container__contenido.u-hidden
						li.container-fovissste__container__contenido__container-card
							a.o-card-archive(href='#' download='' title='Descargar PDF certificado')
								span.container-text
									span Descarga tu certificado
						li.container-fovissste__container__contenido__container-card
							a.o-card-archive(href='' download='' title='Descargar PDF condiciones generales')
								span.container-text
									span Consulta condiciones generales

				.container-fovissste__container
					a.o-card-large
						p Asistencias FOVISSSTE
						#button-expand-2.o-btn-arrow.o-btn-arrow--arrow-down
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					#contenido-2.container-fovissste__container__contenido.u-hidden
						p GMX Seguros otorga al asegurado servicios adicionales como asistencia médica, asistencia al hogar, asistencia en gadgets y una gran red de descuentos en establecimientos comerciales.
						p El servicio de asistencias tiene una vigencia de tres años a partir de la escrituración de la vivienda. El número de eventos incluidos para cada asistencia se reestablece cada año.
						h4 Asistencia médica
						ul.o-container-list
							li Orientación médica telefónica
							li Ambulancia terrestre por emergencia
							li Referencias médicas
							li Médico a domicilio o consulta en consultorio
						h4 Servicio de Asistencia al hogar
						ul.o-container-list
							li Plomería
							li Cerrajería en casa
							li Electricidad
							li Asistencia especializada
						h4 Asistencia en gadgets
						h4 Reparación o reposición de equipos
						h4 Red de descuentos en establecimientos comerciales
						.o-card-with-button
							.o-card-with-button__container-button
								a.o-btn-arrow(href='tel:+5590635397' title='Ir hacia el numero de telefono' target='_blank')
									i.i-icon.i-arrow-up-right(aria-hidden='true')
							.o-card-with-button__container-info
								h3 Comunícate al teléfono
								strong #[a(href='tel:+5590635397' title='Ir hacia el numero de telefono') (55) 9063.5397]
								p para solicitar los servicios de asistencia que ponemos a tu disposición.
						.container-fovissste__container__contenido__container-card
							a.o-card-archive(href='' download='' title='Descargar PDF Folleto de asistencias')
								span.container-text
									span Consultar Folleto de asistencias

		#infonavit.c-fovissste
			section.container-fovissste.container-fovissste--blue-light
				h3 Información INFONAVIT
				a(href='#' title='Ir hacía seguro contra vicios ocultos').o-card-large.o-card-large--light-blue
					p Decenal tradicional seguro contra vicios ocultos
					.o-btn-arrow.o-btn-arrow--border-light-blue
						i.i-icon.i-arrow-up-right(aria-hidden='true')
				a(href='#' title='Ir hacía ¿Tu vivienda tiene algún daño?').o-card-large.o-card-large--light-blue
					p ¿Tu vivienda tiene algún daño?
					.o-btn-arrow.o-btn-arrow--border-light-blue
						i.i-icon.i-arrow-up-right(aria-hidden='true')
				a(href='#' title='Ir hacía Facturación: Oferentes de vivienda').o-card-large.o-card-large--light-blue
					p Facturación: Oferentes de vivienda
					.o-btn-arrow.o-btn-arrow--border-light-blue
						i.i-icon.i-arrow-up-right(aria-hidden='true')
				a(href='#' title='Ir hacía Certificados Acreditados Infonavit').o-card-large.o-card-large--light-blue
					p Certificados: Acreditados Infonavit
					.o-btn-arrow.o-btn-arrow--border-light-blue
						i.i-icon.i-arrow-up-right(aria-hidden='true')
				a(
					href='#'
					title='Ir hacía Certificados Nuevo seguro de calidad de la vivienda'
					).o-card-large.o-card-large--light-blue
					p Certificados: Nuevo seguro de calidad de la vivienda
					.o-btn-arrow.o-btn-arrow--border-light-blue
						i.i-icon.i-arrow-up-right(aria-hidden='true')

		#contactar.c-contact-form
			section.container-contact-form
				h3#contact-form-title Contactar ahora
				p Solicita asesoría de un agente especializado, el cual te ayudará a contratar lo que realmente necesitas.
				form.container-form(action='#' method='post' aria-labelledby='contact-form-title')
					label(for='insurance-type') Tipo de seguro de Interés
					.container-message
						.container-form__custom-select
							select#insurance-type(name='insurance-type' aria-required='true')
								option(value='' disabled selected) Seleccione...
								option(value='Instituciones educativas') Instituciones educativas
								option(value='Profesionistas') Profesionistas
								option(value='Sector salud') Sector salud
								option(value='Ambiental') Ambiental
								option(value='Construcción') Construcción
								option(value='Industria Manufactura y Comercio') Industria Manufactura y Comercio
								option(value='Aviación') Aviación
								option(value='Embarcaciones') Embarcaciones
								option(value='Carga en Tránsito') Carga en Tránsito
								option(value='Gobierno') Gobierno
								option(value='Familiar') Familiar
								option(value='Esparcimiento') Esparcimiento
								option(value='Riesgos Especiales') Riesgos Especiales
							i.i-icon.i-angle-down(aria-hidden='true')
						#error-insurance-type.error-message
					.container-message
						input#full-name(type='text' name='full-name' placeholder='Nombre completo' aria-label='Nombre completo' aria-required='true')
						#error-full-name.error-message
					.container-message
						input#business-name(type='text' name='business-name' placeholder='Razón social' aria-label='Razón social' aria-required='true')
						#error-business-name.error-message
					.container-message
						input#phone(type='text' name='phone' placeholder='Teléfono celular' aria-label='Teléfono celular' aria-required='true')
						#error-phone.error-message
					.container-message
						input#email(type='email' name='email' placeholder='Correo electrónico' aria-label='Correo electrónico' aria-required='true')
						#error-email.error-message
					.container-message
						input#city(type='text' name='city' placeholder='Ciudad' aria-label='Ciudad' aria-required='true')
						#error-city.error-message
					.container-message
						.container-form__custom-select
							select#state(name='state' aria-required='true')
								option(value='' disabled selected) Seleccione una opción
								option(value='Estado') Estado
							i.i-icon.i-angle-down(aria-hidden='true')
						#error-state.error-message
					.container-message
						input#name-developer(
							type='text'
							name='name-developer'
							placeholder='Nombre del desarrollador'
							aria-label='Nombre del desarrollador'
							aria-required='true'
						)
						#error-name-developer.error-message
					.container-form__text-area
						label(for='comments') ¿Comentarios adicionales? ¿Alguna necesidad específica?
						textarea#comments(name='comments' aria-label='Comentarios adicionales')
					.container-error
						.container-form__container-terms
							label(for='TyC') 
								input#TyC(type='checkbox' name='TyC' aria-label='Aceptar términos y condiciones' aria-required='true')
								a(href='' target='_blank' title='Ir hacia terminos y condiciones') Acepto los Términos y Condiciones
						#error-TyC.error-message
					.container-form__container-button
						button.o-btn.o-btn--green(type='submit' aria-label='Contactar agente') Contactar agente
					.container-form__image
						img.js-lazy(data-src=urlFolder + 'images/seguros/GMX-inscripcion-datos.png' src=urlFolder + 'images/global/GMX-Placeholder-Small.jpg' alt='Imagen sobre persona inscribiendo datos')
