extends ../template/_template

append configuracion
    -var page			= {}
    -page['link']		= 'seguros/index.html'
    -page['title']		= 'Seguros'
    -page['descrip']	= 'Página de seguros'
    -page['keys']		= 'seguros, negocios, personales'
    -page['lang']		= 'es'
    -page['responsive']	= true
    -page['section']	= []
    -page['libsCss']	= []
    -page['libs']		= []
    -page['plugins']	= ['splide']
    -page['js']			= [] 

    - var path = '../../'


block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title 
                            h1 #[small Seguros] Responsabilidad #[strong Ambiental]
        .c-navigation-page
            nav.c-navigation-page__list-section(aria-label="Secciones del sitio")
                ul
                    li.container-anchor.container-anchor--active
                        a(href="#introduccion" title="Ir a la sección Introducción") Introducción
                    li.container-anchor
                        a(href="#en-que-consiste" title="Ir a la sección de ¿En qué consiste?") ¿En qué consiste?
                    li.container-anchor
                        a(href="#para-quien-es" title="Ir a la sección de ¿Para quién es?") ¿Para quién es?
                    li.container-anchor
                        a(href="#cobertura" title="Ir a la sección de Cobertura") Coberturas
                    li.container-anchor
                        a(href="#consideraciones" title="Ir a la sección de Consideraciones") Consideraciones
                    li.container-anchor.container-anchor--bold
                        a(href="#contactar" title="Ir a Contactar ahora") Contactar ahora
        .c-introduction-text#introduccion
            div.c-introduction-text__text-container
                p Actualmente las empresas comienzan a tomar mayor conciencia en temas relacionados con el ambiente; ya que algunas industrias han generado grandes impactos ambientales durante el desarrollo de sus actividades económicas.
                p Por eso, GMX Seguros cuenta con una cobertura ideal para aquellas empresas que se preocupan por cuidar lo más importante: nuestro medio ambiente.

        .c-consists#en-que-consiste
            section.c-consists.c-consists__card-safe
                h3 ¿En qué consiste?
                div.c-consists__card-safe__container-card
                    div.c-consists__card-safe__container-card__card
                        p Es un seguro destinado a cubrir las responsabilidades a consecuencia de los daños derivados de la contaminación que ocasione el asegurado con motivo de sus actividades comerciales.
                    div.c-consists__card-safe__container-card__card.c-consists__card-safe__container-card__card--image-container
                        img(src=urlFolder+"images/seguros/GMX-planta.png" alt="Imagen de una fabrica")

        .c-consists#para-quien-es
            section.c-for-whom
                h3 ¿Para quién es?
                p Esta póliza ofrece cobertura para:
                ul.c-for-whom__box-container
                    li.c-for-whom__box-container__box.c-for-whom__box-container__box--blue
                        p Empresas que manejan o generan materiales y/o residuos peligrosos.
                        div.c-for-whom__box-container__box__container-image
                            img(src=urlFolder+"images/seguros/GMX-like.png" alt="Icono de like")
                    li.c-for-whom__box-container__box.c-for-whom__box-container__box--light-blue
                        p Empresas que por su actividad puedan causar contaminación al medio ambiente.
                        div.c-for-whom__box-container__box__container-image
                            img(src=urlFolder+"images/seguros/GMX-like.png" alt="Icono de like")
                    li.c-for-whom__box-container__box.c-for-whom__box-container__box--light-blue
                        p Empresas a las cuales las autoridades les exigen un seguro de responsabilidad ambiental.
                        div.c-for-whom__box-container__box__container-image
                            img(src=urlFolder+"images/seguros/GMX-like.png" alt="Icono de like")
                    li.c-for-whom__box-container__box.c-for-whom__box-container__box--blue
                        p Empresas a las cuales se les exige un seguro por obligación contractual.
                        div.c-for-whom__box-container__box__container-image
                            img(src=urlFolder+"images/seguros/GMX-like.png" alt="Icono de like")

        .c-coverage#cobertura
            section.c-coverage__container-banner
                h3 Coberturas
                .c-coverage__container-elements
                    ul.c-coverage__list-elements
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Daño ambiental ya sea súbito e imprevisto, gradual y paulatino.
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Responsabilidad Civil derivada por contaminación o daños al ambiente.
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Responsabilidad Administrativa.
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Gastos de análisis y defensa jurídica.
                    div.container-text
                        h4 Coberturas Adicionales.
                    ul.c-coverage__list-elements
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Costos de respuesta de emergencia que incluyen los gastos para mitigar una pérdida ambiental.
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Sanciones económicas.
                        li.c-coverage__list-elements__container-element 
                            div.c-coverage__list-elements__container-image
                                img(src=urlFolder+"images/seguros/GMX-escudo.png" alt="Icono de un escudo")
                            div.c-coverage__list-elements__element
                                p Interrupción del negocio.

        .c-added-values
            section.c-added-values__container
                h3 Valores agregados
                article.c-added-values__container-banner(hidden=true)
                    div.c-added-values__container-text(hidden=true)
                        h4 Estudios especializados de#[br]Administración de Riesgos
                    div.c-added-values__container-image
                        img(src=urlFolder+"images/seguros/GMX-valores-agregados.png" alt="Valores agregados")
                .splide.values.splide--desktop#card-carousel-desktop()
                    .splide__arrows
                        button.splide__arrow.splide__arrow--prev(type='button' aria-label='Anterior' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-left(aria-hidden="true")
                        button.splide__arrow.splide__arrow--next(type='button' aria-label='Siguiente' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-right(aria-hidden="true")
                    .splide__track
                        ul.c-added-values__container-card.splide__list
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="1 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de cumplimiento normativo.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="2 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de riesgos ambientales.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="3 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.splide__slide
                                div.c-added-values__container-card__card-box(role="group" aria-roledescription="slide" aria-label="4 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="5 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="6 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.

                .splide.values.splide--tablet#card-carousel-tablet()
                    .splide__arrows
                        button.splide__arrow.splide__arrow--prev(type='button' aria-label='Anterior' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-left(aria-hidden="true")
                        button.splide__arrow.splide__arrow--next(type='button' aria-label='Siguiente' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-right(aria-hidden="true")
                    .splide__track
                        ul.c-added-values__container-card.splide__list
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="1 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de cumplimiento normativo.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="2 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de riesgos ambientales.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="3 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                                div.c-added-values__container-card__card-box(role="group" aria-roledescription="slide" aria-label="4 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="5 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="6 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.


                .splide.values.splide--mobile#card-carousel-mobile()
                    .splide__arrows
                        button.splide__arrow.splide__arrow--prev(type='button' aria-label='Anterior' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-left(aria-hidden="true")
                        button.splide__arrow.splide__arrow--next(type='button' aria-label='Siguiente' aria-expanded='false' aria-haspopup='true'): i.i-icon.i-arrow-right(aria-hidden="true")
                    .splide__track
                        ul.c-added-values__container-card.c-added-values__container-card.splide__list
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="1 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de cumplimiento normativo.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="2 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Reporte de informe de riesgos ambientales.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="3 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box(role="group" aria-roledescription="slide" aria-label="4 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.c-added-values__container-card--padding-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="5 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.
                            li.c-added-values__container-card.c-added-values__container-card--gap-1.splide__slide
                                div.c-added-values__container-card__card-box.splide__slide(role="group" aria-roledescription="slide" aria-label="6 de 6")
                                    div.container-title
                                        p GMX
                                        img(src=urlFolder+"images/seguros/GMX-documento-informe.png" alt="icon hoja y escudo")
                                    p Estudio de valoración de riesgo ambiental.


        .c-consists#consideraciones
            section.c-considerations
                h3 Consideraciones #[small Es importante para realizar una cotización]
                .c-container-cards
                    ul.box-container
                        li.box-container__box
                            div.box-container__box__number
                                span 1
                            p Mostrar los ingresos anuales por su actividad, tipo y cantidad de materiales peligrosos almacenados.
                        li.box-container__box
                            div.box-container__box__number
                                span 2
                            p Actividades previas realizadas en los predios.
                        li.box-container__box
                            div.box-container__box__number
                                span 3
                            p Rutas de exposición del medio ambiente.
                        li.box-container__box
                            div.box-container__box__number
                                span 4
                            p Conocimiento de las condiciones ambientales y pérdidas preexistentes.
                        li.box-container__box
                            div.box-container__box__number
                                span 5
                            p Tanques de almacenamiento, controles y procesos ambientales.
                        li.box-container__box
                            div.box-container__box__number
                                span 6
                            p Años de operación, experiencias y certificaciones o autorizaciones vigentes (ISO 9001, OHSAS, etc).
                        li.box-container__box
                            div.box-container__box__number
                                span 7
                            p Plan de atención a emergencias y/o contingencias ambientales.
                        li.box-container__box.box-container__box--image
                            img(src=urlFolder+"images/seguros/GMX-todo-ok.png" alt="Icon Scientist")


        .c-requirements
            section.container-requirements
                h2 Requisitos de contratación
                .container-cards
                    article.container-cards__card
                        div.container-cards__card__title
                            h3 GMX #[span Identificación vigente]
                        ul.container-cards__card__requirements
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Acta Constructiva
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Credencial del INE o IFE
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p FM2 para extranjeros
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p FM3 para extranjeros
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Pasaporte
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Cédula Profesional
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Licencia de conducir
                    article.container-cards__card
                        div.container-cards__card__title
                            h3 GMX #[span Comprobante de domicilio:]
                        ul.container-cards__card__requirements
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Telefonos#[br](no mayor a 3 meses)
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Gas#[br](no mayor a 3 meses)
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Agua#[br](no mayor a 3 meses)
                    article.container-cards__card
                        div.container-cards__card__title
                            h3 GMX #[span Documentación a proporcionar:]
                        ul.container-cards__card__requirements
                            li.container-cards__card__requirements__requirement
                                img(src=urlFolder+"images/seguros/GMX-escudo-verde.png" alt="")
                                p Cuestionario Responsabilidad Ambiental de GMX Seguros juntos con sus anexos.
                            li.container-cards__card__requirements__image
                                img(src=urlFolder+"images/seguros/GMX-sugerencia-lista.png" alt="alt")

        .c-contact-form#contactar
            section.container-contact-form
                h3#contact-form-title Contactar ahora
                p Solicita asesoría de un agente especializado, el cual te ayudará a contratar lo que realmente necesitas.
                form.container-form(action="#" method="post" aria-labelledby="contact-form-title")
                    label(for="insurance-type") Tipo de seguro de Interés
                    div.container-message
                        div.container-form__custom-select
                            select(name="insurance-type" id="insurance-type" aria-required="true")
                                option(value="" disabled selected) Seleccione...
                                option(value="Ambiental") Instituciones educativas
                                option(value="Ambiental") Profesionistas
                                option(value="Ambiental") Sector salud
                                option(value="Ambiental") Ambiental
                                option(value="Ambiental") Construcción
                                option(value="Ambiental") Industria Manufactura y Comercio
                                option(value="Ambiental") Aviación
                                option(value="Ambiental") Embarcaciones
                                option(value="Ambiental") Carga en Tránsito
                                option(value="Ambiental") Gobierno
                                option(value="Ambiental") Familiar
                                option(value="Ambiental") Esparcimiento
                                option(value="Ambiental") Riesgos Especiales
                            i.i-icon.i-angle-down(aria-hidden="true")
                        div#error-insurance-type.error-message
                    //- label.container-message(for="full-name")
                    div.container-message
                        input(type="text" id="full-name" name="full-name" placeholder="Nombre completo" aria-required="true")
                        div#error-full-name.error-message
                    //- label(for="phone")
                    div.container-message
                        input(type="text" id="phone" name="phone" placeholder="Teléfono celular" aria-required="true")
                        div#error-phone.error-message
                    //- label(for="email")
                    div.container-message
                        input(type="email" id="email" name="email" placeholder="Correo electrónico" aria-required="true")
                        div#error-email.error-message
                    //- label(for="city")
                    div.container-message
                        input(type="text" id="city" name="city" placeholder="Ciudad" aria-required="true")
                        div#error-city.error-message
                    div.container-message
                        div.container-form__custom-select
                            select(name="state" id="state" aria-required="true")
                                option(value="" disabled selected) Seleccione una opción
                                option(value="Estado") Estado
                            i.i-icon.i-angle-down(aria-hidden="true")
                        div#error-state.error-message
                    .container-error
                        div.container-form__container-terms
                            label(for="TyC") 
                                input(type="checkbox" id="TyC" name="TyC" aria-required="true")
                                a(href="" target="_blank") Acepto los Términos y Condiciones
                        div#error-TyC.error-message
                    div.container-form__container-contact
                        p ¿Cómo deseas ser contactado?
                        div.container-contacts
                            label(for="whatsapp") 
                                input(type="checkbox" id="whatsapp" name="contact-method" value="whatsapp")
                                img(src=urlFolder+"images/seguros/GMX-whatsapp.svg" alt="Icono de whatsapp") 
                                | Whatsapp
                            label(for="email-contact") 
                                input(type="checkbox" id="email-contact" name="contact-method" value="email")
                                img(src=urlFolder+"images/seguros/GMX-email.svg" alt="Icono de mail")
                                | Correo electrónico
                        div#error-contact-method.error-message
                    div.container-form__container-button
                        button.o-btn.o-btn--green(type="submit" aria-label="Contactar agente") Contactar agente
                    div.container-form__image
                        img(src=urlFolder+"images/seguros/GMX-inscripcion-datos.png" alt="Imagen sobre persona inscribiendo datos")
