extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'preguntas-frecuentes/index.html';
	- page['title'] = 'Preguntas frecuentes';
	- page['descrip'] = '...';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column
							h1 Preguntas #[strong Frecuentes]
		.c-navigation-page
			.c-navigation-page__list-section
				ul#scrollTop(role='navigation' aria-label='Secciones del sitio')
					li.container-text
						p Filtrar por:
					li.container-anchor.container-anchor--active
						a(href='#asegurados' title='Ir a la sección Asegurados') Asegurados
					li.container-anchor
						a(href='#agentes' title='Ir a la sección de Agentes') Agentes
					li.container-anchor
						a(href='#proveedores' title='Ir a la sección de Proveedores') Proveedores

		section#asegurados.c-introduction-text.section-change(role="tabpanel" aria-expanded="true")
			.o-section.o-section--max-1000
				ul.c-documentation-siniestros
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 01
							p ¿Cuáles son los datos fiscales para facturación?
						button#button-expand-1-1.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-1.o-container-list.o-container-list--padding.u-hidden
						p TECOYOTITLA 412 EDIFICIO GMX, COL. EX HACIENDA DE GUADALUPE CHIMALISTAC, ÁLVARO OBREGÓN, MÉXICO D.F. 01050 RFC. GMS971110BTA
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 02
							p ¿Cómo puedo validar el estatus de pago de mi póliza?
						button#button-expand-1-2.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-2.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 03
							p ¿Qué hago si no se identifica mi pago?
						button#button-expand-1-3.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-3.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 04
							p ¿Cómo puedo hacer el pago de una póliza con fecha retroactiva?
						button#button-expand-1-4.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-4.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 05
							p ¿Cómo puedo solicitar la devolución de prima por cancelación de una póliza?
						button#button-expand-1-5.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-5.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 06
							p ¿Puedo realizar mi pago de póliza con tarjeta?
						button#button-expand-1-6.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-6.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 07
							p Si contraté coberturas en dólares ¿Puedo pagar mi póliza en pesos?
						button#button-expand-1-7.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-7.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 08
							p ¿Cuánto tiempo tengo para liquidar el recibo de pago de mi póliza?
						button#button-expand-1-8.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-8.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 09
							p Si quiero hacer el pago mediante transferencia bancaria ¿cómo le hago?
						button#button-expand-1-9.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-9.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 10
							p Medios de pago de pólizas:
						button#button-expand-1-10.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-10.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 11
							p ¿Qué tipo de cambio utiliza GMX Seguros?
						button#button-expand-1-11.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-11.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 12
							p ¿Con quién puedo verificar el pago de mi póliza?
						button#button-expand-1-12.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-1-12.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?

		section#agentes.c-introduction-text.section-change(aria-expanded="false")
			.o-section.o-section--max-1000
				ul.c-documentation-siniestros
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 01
							p Datos fiscales para facturación
						button#button-expand-2-1.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-1.o-container-list.o-container-list--padding.u-hidden
						p TECOYOTITLA 412 EDIFICIO GMX, COL. EX HACIENDA DE GUADALUPE CHIMALISTAC, ÁLVARO OBREGÓN, MÉXICO D.F. 01050 RFC. GMS971110BTA
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 02
							p ¿Cuánto tiempo tengo para pagar mi recibo?
						button#button-expand-2-2.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-2.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 03
							p Si mi recibo está fuera de vigencia, ¿qué hago para poder pagar?
						button#button-expand-2-3.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-3.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 04
							p ¿Me pueden dar el número de la cuenta concentradora para hacer el pago de mi póliza?
						button#button-expand-2-4.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-4.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 05
							p Si quiero hacer el pago mediante transferencia bancaria ¿cómo le hago?
						button#button-expand-2-5.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-5.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 06
							p ¿Y si quiero pagar con American Express?
						button#button-expand-2-6.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-6.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 07
							p ¿Qué tipo de cambio utiliza GMX Seguros?
						button#button-expand-2-7.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-7.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 08
							p ¿Me pueden decir el tipo de cambio del día de mañana para programar el pago?
						button#button-expand-2-8.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-8.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 09
							p ¿Con quién puedo validar el pago de una póliza?
						button#button-expand-2-9.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-9.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 10
							p ¿Con quién puedo verificar mi pago de comisiones?
						button#button-expand-2-10.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-10.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 11
							p ¿Qué documentos necesito mandar para cumplir con el artículo 492 y a quién debo mandarlos?
						button#button-expand-2-11.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-2-11.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?

		section#proveedores.c-introduction-text.section-change(role="tabpanel" aria-expanded="false")
			.o-section.o-section--max-1000
				ul.c-documentation-siniestros
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 01
							p ¿Qué es la facturación 3.3?
						button#button-expand-3-1.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-3-1.o-container-list.o-container-list--padding.u-hidden
						p Es la versión más reciente autorizada por el SAT para la emisión de los comprobantes fiscales, entro en vigor en julio de 2017 y será de uso obligatorio a partir de enero 2018, haciendo modificaciones de acuerdo al catálogo que dispuso en su portal.
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 02
							p ¿Para quién aplica?
						button#button-expand-3-2.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-3-2.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 03
							p ¿Qué es el complemento de recepción de pagos?
						button#button-expand-3-3.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-3-3.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?
					li.o-card-large.o-card-large--light-blue.o-card-large--thick
						.container-text
							small 04
							p ¿Como solicitar una visita de administración de riesgos?
						button#button-expand-3-4.o-btn-arrow.o-btn-arrow--border-light-blue.o-btn-arrow--border-light-blue--arrow-down(
							aria-label='Incendio'
							title='boton expandir información'
						)
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					li#contenido-3-4.o-container-list.o-container-list--padding.u-hidden
						p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas velit, error voluptatem expedita quibusdam eum temporibus! Magnam porro placeat laboriosam, exercitationem quas temporibus obcaecati eum, dolorum, quos modi eveniet hic?