extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'ayuda-con-tu-seguro/index.html';
	- page['title'] = 'Ayuda con tus pagos';
	- page['descrip'] = '...';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column(id='title')
							h1 #[small Ayuda con tu seguro] Con tus #[strong Pagos]
		.c-navigation-page
			.c-navigation-page__list-section(aria-label='Secciones del sitio')
				ul#scrollTop(role='navigation')
					li.container-anchor.container-anchor--active
						a(href='#con-tus-pagos' title='Ir a la sección Ayuda con tus pagos' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Con tus <strong>Pagos</strong></h1>') Con tus pagos
					li.container-anchor
						a(href='#con-tus-facturas' title='Ir a la sección de Ayuda con tus facturas' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Con tus <strong>Facturas</strong></h1>') Con tus facturas
					li.container-anchor
						a(href='#con-codigo-qr' title='Ir a la sección de Ayuda con código QR' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Con código <strong>QR</strong></h1>') Con código QR
					li.container-anchor
						a(href='#con-tu-siniestro' title='Ir a la sección de Ayuda con tu siniestro' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Con tu <strong>Siniestro</strong></h1>') Con tu siniestro
					li.container-anchor
						a(href='#unidad-especializada' title='Ir a la sección de Ayuda con Unidad especializada' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Directorio <strong>Pagos</UNE></h1>') UNE
					li.container-anchor
						a(href='#derechos-basicos' title='Ir a la sección de Ayuda con Derechos basicos' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Derechos <strong>Básicos</strong></h1>') Derechos básicos
					li.container-anchor
						a(href='#tipo-de-cambio' title='Ir a la sección de Tipo de cambio' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Tipo de <strong>Cambio</strong></h1>') Tipo de cambio
					li.container-anchor
						a(href='#sacale-provecho' title='Ir a la sección de Sácale provecho a tu seguro' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Sácale provecho a tu <strong>Seguro</strong></h1>') Sácale provecho a tu seguro
					li.container-anchor
						a(href='#manuales' title='Ir a la sección de manuales' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Manuales de <strong>Pago</strong></h1>') Manuales de pago
					li.container-anchor
						a(href='#boletines' title='Ir a la sección de boletines' text-break='true' template='<h1><small>Ayuda con tu seguro</small>Consulta nuestros <strong>Boletines</strong></h1>') Boletines

		#con-tus-pagos.c-introduction-text.section-change(aria-expanded="true")
			.c-introduction-text__text-container
				h2.mb-spacing Pago en línea de póliza de seguro
			section.o-card-gray
				p Consúltalo fácil, rápido y seguro
				a.o-btn.o-btn--green(href='#!' title='Realizar pago ahora') Realizar pago ahora

		#con-tus-facturas.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Facturas
			section.o-card-gray
				p Consulta y descarga tu factura
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora

		#con-codigo-qr.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container.c-introduction-text__text-container--no-margin
				h2.mb-spacing Ayuda con tu código QR
			.o-section.o-section--max-800
				.c-introduction-text__text-container
					p El código QR que se encuentra en las pólizas de GMX Seguros, es una herramienta que garantiza la seguridad y autenticidad de las pólizas emitidas por la compañía.
					p Este código contiene los datos encriptados del asegurado, y a su vez, permite validar la información registrada en GMX Seguros.
					h3.my-spacing ¿Cómo visualizo el código QR?
					section.c-personal-attention
						ul
							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 1
									.o-card-step
										p Usa la cámara de tu teléfono móvil si cuenta con la funcionalidad de escaneo de código QR o descarga alguna aplicación para lectura de códigos QR.
							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 2
									.o-card-step
										p Escanear el código QR por medio de la aplicación.
							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 3
									.o-card-step
										p Se mostrará una liga por medio de la cual se desplegarán los datos registrados en GMX Seguros.
						ul.notification
							li
								.c-personal-attention__container-card
									.o-card-step.o-card-step--image.o-card-step--none.u-invisibility
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
									.o-card-with-button.o-card-with-button__without-icon
										.o-card-with-button__container-info
											h3 IMPORTANTE
											p Para tu seguridad, es importante que valides que la liga a la cual te redireccionará el código QR sea
											strong #[a(href='#' title='Ir hacia el codigo QR') qr.gmx.com.mx]
											p Para cualquier aclaración comunícate al teléfono
											strong #[a(href='tel:+5554804100' title='Ir hacia el numero de telefono') (55) 5480 4100]
			.o-section.o-section--max-800
				.c-introduction-text__text-container
					.o-section--video

		#con-tu-siniestro.c-introduction-text.section-change(aria-expanded="false")
			section.o-card-gray
				p Reportar Siniestro online
				a.o-btn.o-btn--green(href='#!' title='Reportar siniestro') Reportar siniestro

		#unidad-especializada.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Unidad Especializada (UNE)
			section.o-card-gray
				p Reclamaciones, consultas y sugerencias
				a.o-btn.o-btn--green(href='#!' title='Contactar ahora') Contactar ahora

		#derechos-basicos.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Derechos como contratante, asegurado y/o beneficiario de un seguro
				h3.my-spacing ¿Conoces tus derechos antes y durante la contratación de un Seguro?
				p Cuando se contrata un seguro es muy común que se desconozcan los derechos que tiene el Asegurado al momento de adquirir esta protección, en caso de algún siniestro, e inclusive previo a la contratación.
				p Si tú conoces bien cuáles son los derechos como Asegurado, podrás tener claro el alcance que tiene tu seguro, evitarás imprevistos de último momento y estarás mejor protegido.
				h3.my-spacing ¿Cómo saber cuáles son tus derechos cuando contratas un Seguro y durante su vigencia?
				p Como contratante tienes derecho antes y durante la contratación del Seguro a:
				.c-coverage.c-coverage--gray
					section.c-coverage__container-banner
						.c-coverage__container-elements
							ul.c-coverage__list-elements
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Solicitar por escrito información referente al importe de la comisión o compensación que recibe el intermediario que te ofrece el seguro.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Solicitar al intermediario que te ofrece el seguro, la identificación que los acredita para ejercer su profesión.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Recibir toda la información que te permita conocer las condiciones generales del seguro, incluyendo el alcance real de la cobertura que estás contratando, la forma de conservarla y la forma de dar por terminado el contrato. Para lo cual puedes dirigirte con tu intermediario de seguros o acudir a cualquiera de nuestras oficinas, las cuales podrás ubicar en nuestro portal www.gmx.com.mx.
				h3.my-spacing ¿Cómo saber cuáles son tus derechos cuando contratas un Seguro y durante su vigencia?
				.c-coverage.c-coverage--gray
					section.c-coverage__container-banner
						.c-coverage__container-elements
							ul.c-coverage__list-elements
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Recibir el pago de las prestaciones contratadas en tu póliza por eventos ocurridos dentro del periodo de gracia, aunque no hayas pagado la prima en este periodo.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Saber que en los seguros de daños, toda indemnización que la aseguradora pague, reduce en igual cantidad la suma asegurada. Sin embargo, ésta puede ser reinstalada, previa aceptación de la Compañía de Seguros con el pago de la prima correspondiente.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Cobrar una indemnización por mora a la aseguradora, en caso de retraso en el pago de la suma asegurada.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Ser atendidos por un ajustador designado por GMX Seguros, quién actuará de conformidad con los lineamientos, políticas y procedimientos que podrá consultar en nuestro portal.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p En caso de inconformidad con el tratamiento de tu siniestro, puedes presentar una reclamación ante la aseguradora por medio de la Unidad de Atención Especializada (UNE). O bien, acudir a la Comisión Nacional para la Protección y Defensa de los Usuarios de Servicios Financieros (CONDUSEF), en cualquiera de sus delegaciones estatales.
								li.c-coverage__list-elements__container-element
									.c-coverage__list-elements__container-image
										img(src=urlFolder + 'images/seguros/GMX-escudo.png' alt='Icono de un escudo')
									.c-coverage__list-elements__element
										p Si presentaste la queja ante CONDUSEF, puedes solicitar la emisión de un dictamen técnico, si las partes no se sometieron a arbitraje.
				h3.my-spacing En caso de cualquier duda contacta a tu agente de seguros o acércate a GMX Seguros donde podrán informarte de tus derechos como asegurado.
			.o-section--max-1000
				.alternating-cards
					.alternating-cards__card
						.alternating-card__header
							h4 Ciudad de México
							p Tecoyotitla 412, Edificio GMX, Col. Ex Hacienda de Guadalupe Chimalistac, Álvaro Obregón, Ciudad de México, México, C.P. 01050.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+555480 4000' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (55) 5480 4000
								.alternating-cards__button
									a.o-btn-arrow(href='tel:8007188946' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800 718 8946
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:informacion@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p informacion@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Ciudad de México, Edo. de México y Toluca.
					.alternating-cards__card
						.alternating-cards__header
							h4 Aguascalientes
							p Tecoyotitla 412, Edificio GMX, Col. Ex Hacienda de Guadalupe Chimalistac, Álvaro Obregón, Ciudad de México, México, C.P. 01050.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+5554804000' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (55) 5480 4000
								.alternating-cards__button
									a.o-btn-arrow(href='tel:8007188946' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800 718 8946
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:informacion@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p informacion@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Aguascalientes.
					.alternating-cards__card
						.alternating-cards__header
							h4 Chihuahua
							p Av. Francisco Villa No. 4700, piso 1, Col. San Felipe V Etapa, Chihuahua, Chih. CP. 31203.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+6144377144' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (614) 4377.144
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:chihuahua@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p chihuahua@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Chihuahua.
					.alternating-cards__card
						.alternating-cards__header
							h4 Cuernavaca
							p Avenida San Diego N. 326 Int. 1-B, Col. Vista Hermosa,Cuernavaca, Morelos, C.P.62290.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+7773225061' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (777) 322.5061
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:cuernavaca@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p cuernavaca@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Morelos, Guerrero.
					.alternating-cards__card
						.alternating-cards__header
							h4 Guadalajara
							p Lerdo de Tejada No, 2074, Col. Lafayette, Guadalajara, Jal., C.P. 44150.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+3336167609' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (33) 3616.7609
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8005085720' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.508.5720
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:guadalajara@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p guadalajara@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Jalisco, Nayarit, Colima, B.C.S y Colima
					.alternating-cards__card
						.alternating-cards__header
							h4 Hermosillo
							p Av. Luis Donaldo Colosio , No. 450, Torre UNO, nivel 6, local 5., Col. Metrocentro, Hermosillo Son. CP. 83200.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+6621359508' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (662) 135.9508
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:hermosillo@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p hermosillo@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Sonora.
					.alternating-cards__card
						.alternating-cards__header
							h4 León
							p Av. Guanajuato No. 602, Col. Jardines del Moral, León, Gto., C.P. 37160.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+4777183656' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (477) 718.3656
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8005013577' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.501.3577
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:leon@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p leon@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Guanajuato, San Luis Potosí, Michoacán, Zacatecas.
					.alternating-cards__card
						.alternating-cards__header
							h4 Mazatlán
							p Río Baluarte 607, Col. Palos Prietos, Mazatlán, Sinaloa C.P. 8201o.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+6691054689' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (669) 105.4689
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:mazatlan@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p mazatlan@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Sinaloa, Durango excepto Gómez Palacio y Lerdo
					.alternating-cards__card
						.alternating-cards__header
							h4 Mérida
							p Av. Colón No. 503 H, por 62 y Av. Reforma, Col. Centro, Mérida, Yuc., C.P. 97000.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+9999204202' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (999) 920.4202
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8005040173' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.504.0173
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:merida@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p merida@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Yucatán, Quintana Roo, Campeche, Tabasco, Chiapas.
					.alternating-cards__card
						.alternating-cards__header
							h4 Monterrey
							p Río Támesis No. 1010, 2º Piso, Col. Del Valle, San Pedro Garza García, N.L., C.P. 66220.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8183567330' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (81) 8356.7330
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8005040278' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.504.0278
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:monterrey@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p monterrey@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Nuevo León, Tamaulipas, Coahuila y Durango: Gómez palacio y Lerdo.
					.alternating-cards__card
						.alternating-cards__header
							h4 Puebla
							p Rosendo Márquez No. 1914, Col. Belisario Domínguez, Puebla, Pue., C.P. 72180.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+2222468979' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (222) 246.8979
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8000052020' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.005.2020
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:puebla@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p puebla@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Puebla, Veracruz, Tlaxcala, Oaxaca
					.alternating-cards__card
						.alternating-cards__header
							h4 Querétaro
							p Avenida 5 de Febrero, No. 1351, Edificio Roble, torre 2, oficina 401, Zona Industrial Benito Juárez, Querétaro, Qro. C.P. 76130.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+4422129231' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (442) 212.9231
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:queretaro@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p queretaro@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p Querétaro, Hidalgo.
					.alternating-cards__card
						.alternating-cards__header
							h4 Tijuana
							p Luis Cabrera No. 2033, Fracc. Zona Urbana Río, Deleg. Centro, Tijuana, B.C., C.P. 22010.
						.alternating-card__body
							.alternating-cards__buttons
								.alternating-cards__button
									a.o-btn-arrow(href='#' title='Ir hacia el mapa' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p Ver el mapa
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+6646835464' title='Ir hacia el numero de telefono' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p.alternating-cards__cellphone (664) 683.5464
								.alternating-cards__button
									a.o-btn-arrow(href='tel:+8000199090' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p 800.019.9090
								.alternating-cards__button
									a.o-btn-arrow(href='mailto:tijuana@gmx.com.mx' title='Ir hacia el e-mail' target='_blank')
										i.i-icon.i-arrow-up-right(aria-hidden='true')
									p tijuana@gmx.com.mx
						.alternating-card__footer
							.alternating-cards__texts
								p *Atiende:
								p B.C.N
				p.mt-2 “En cumplimiento a lo dispuesto en el artículo 202 de la Ley de Instituciones de Seguros y de Fianzas, la documentación ;contractual y la nota técnica que integran este producto de seguro, quedaron registradas ante la Comisión Nacional de Seguros y Fianzas, a partir del 6 de Abril de 2015, con el número RESP-S0092-0349-2015/CONDUSEF G00719001.”

		#tipo-de-cambio.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Tipo de cambio al día de hoy
			section.o-card-gray
				p Consultar el tipo de cambio
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora

		#sacale-provecho.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container.c-introduction-text__text-container--no-margin
				h2 Administración de riesgos
			.o-section.c-introduction-text__text-container
				.c-introduction-text__text-container
					p GMX Seguros ofrece servicios de valor agregado, sin costo adicional, que ayudan a nuestros asegurados a conocer mejor sus riesgos, para poder actuar con oportunidad y prevenir accidentes.
				.o-card-step.o-card-step--blue.o-card-step--with-image
					.o-card-step--img
						img.o-img-circle(
							src=urlFolder + 'images/home/GMX-Especialista.png'
							alt='Imagen MedTips')
					.o-card-step--container
						h3 Equipo de especialistas
						p Ayudamos a diagnosticar los riesgos dentro las empresas u organizaciones, y a planear juntos una estrategia de prevención.
				.o-card-step.o-card-step--blue.o-card-step--with-image
					.o-card-step--img
						img.o-img-circle(
							src=urlFolder + 'images/home/GMX-Tips.png'
							alt='Imagen MedTips')
					.o-card-step--container
						h3 MediTips
						p Portal de acceso a, recomendaciones y actualizaciones para profesionales de la salud.
						.o-card-step--link
							a.o-btn-arrow(href='#' title='Ir hacia ...' target='_blank')
								i.i-icon.i-arrow-up-right(aria-hidden='true')
							.container-text.white
								p Visitar sitio Medtips

		#manuales.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Manuales
			section.o-card-gray
				p Formas de pago para liquidar pólizas contratadas. Version español
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora
			section.o-card-gray
				p GMX policy payment manual. English version
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') See now

		#boletines.c-introduction-text.section-change(aria-expanded="false")
			.o-section--max-1200.o-section--padding
				.c-newsletters__nav.js-tabs
					ul.js-tabsNav(role='tablist' aria-labelledby='tablist-1')
						li.filter
							p Filtrar por:
						li.is-active(role='presentation')
							a#tab-1.js-tabsBtn(
								href='#'
								title='2023'
								role='tab'
								aria-selected='true'
								aria-controls='tabpanel-1'
							) 2023
						li(role='presentation')
							a#tab-2.js-tabsBtn(
								href='#'
								title='2022'
								role='tab'
								aria-selected='false'
								aria-controls='tabpanel-2'
								tabindex='-1'
							) 2022
						li(role='presentation')
							a#tab-3.js-tabsBtn(
								href='#'
								title='2021'
								role='tab'
								aria-selected='false'
								aria-controls='tabpanel-3'
								tabindex='-1'
							) 2021
						li(role='presentation')
							a#tab-4.js-tabsBtn(
								href='#'
								title='2020'
								role='tab'
								aria-selected='false'
								aria-controls='tabpanel-4'
								tabindex='-1'
							) 2020
						li(role='presentation')
							a#tab-5.js-tabsBtn(
								href='#'
								title='2019'
								role='tab'
								aria-selected='false'
								aria-controls='tabpanel-5'
								tabindex='-1'
							) 2019
					.c-newsletters__box.o-section--max-1000
						#tabpanel-1.c-newsletters__panel.js-tabsPanel.is-active(
							role='tabpanel'
							tabindex='0'
							aria-labelledby='tab-1'
							data-title='2023'
						)
							a.c-newsletters__link.js-tabsLink(href='#' role='button' aria-expanded='true' data-id='tab-1') 2023
							.c-newsletters__content.js-tabsContent
								.c-newsletters__card
									.c-newsletters__card-header
										p Riesgos más comunes en PyMES
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p Aplicaciones Fitness
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p ¡Ahhh!…¿Segura tu casa?
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
						#tabpanel-2.c-newsletters__panel.js-tabsPanel(
							role='tabpanel'
							tabindex='0'
							aria-labelledby='tab-2'
							data-title='Profesionistas'
						)
							a.c-newsletters__link.js-tabsLink(href='#' role='button' aria-expanded='false' data-id='tab-2') 2022
							.c-newsletters__content.js-tabsContent
								.c-newsletters__card
									.c-newsletters__card-header
										p Riesgos más comunes en PyMES
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p Aplicaciones Fitness
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p ¡Ahhh!…¿Segura tu casa?
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
						#tabpanel-3.c-newsletters__panel.js-tabsPanel(
							role='tabpanel'
							tabindex='0'
							aria-labelledby='tab-3'
							data-title='Profesionistas'
						)
							a.c-newsletters__link.js-tabsLink(href='#' role='button' aria-expanded='false' data-id='tab-3') 2021
							.c-newsletters__content.js-tabsContent
								.c-newsletters__card
									.c-newsletters__card-header
										p Riesgos más comunes en PyMES
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p Aplicaciones Fitness
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p ¡Ahhh!…¿Segura tu casa?
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
						#tabpanel-4.c-newsletters__panel.js-tabsPanel(
							role='tabpanel'
							tabindex='0'
							aria-labelledby='tab-4'
							data-title='Profesionistas'
						)
							a.c-newsletters__link.js-tabsLink(href='#' role='button' aria-expanded='false' data-id='tab-4') 2020
							.c-newsletters__content.js-tabsContent
								.c-newsletters__card
									.c-newsletters__card-header
										p Riesgos más comunes en PyMES
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p Aplicaciones Fitness
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p ¡Ahhh!…¿Segura tu casa?
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
						#tabpanel-5.c-newsletters__panel.js-tabsPanel(
							role='tabpanel'
							tabindex='0'
							aria-labelledby='tab-5'
							data-title='Profesionistas'
						)
							a.c-newsletters__link.js-tabsLink(href='#' role='button' aria-expanded='false' data-id='tab-5') 2019
							.c-newsletters__content.js-tabsContent
								.c-newsletters__card
									.c-newsletters__card-header
										p Riesgos más comunes en PyMES
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p Aplicaciones Fitness
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
								.c-newsletters__card
									.c-newsletters__card-header
										p ¡Ahhh!…¿Segura tu casa?
									.c-newsletters__card-footer
										a.o-btn-arrow.o-btn-arrow--blue(href='#' title='Descargar PDF' download)
											i.i-icon.i-arrow-up-right(aria-hidden='true')
