extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'ayuda-con-tu-seguro/index.html';
	- page['title'] = 'Ayuda con tus pagos';
	- page['descrip'] = '...';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column(id='title')
							h1 #[small Ayuda con tu seguro] Con tus #[strong Pagos]
		.c-navigation-page
			.c-navigation-page__list-section(aria-label='Secciones del sitio')
				ul(role='navigation')
					li.container-anchor.container-anchor--active
						a(href='#con-tus-pagos' title='Ir a la sección Ayuda con tus pagos' text-break='true' text-title='Con tus' text-subtitle='Pagos') Con tus pagos
					li.container-anchor
						a(href='#con-tus-facturas' title='Ir a la sección de Ayuda con tus facturas' text-break='true' text-title='Con tus' text-subtitle='Facturas') Con tus facturas
					li.container-anchor
						a(href='#con-codigo-qr' title='Ir a la sección de Ayuda con código QR' text-break='true' text-title='Con código' text-subtitle='QR') Con código QR
					li.container-anchor
						a(href='#con-tu-siniestro' title='Ir a la sección de Ayuda con tu siniestro' text-break='true' text-title='Con tu' text-subtitle='Siniestro') Con tu siniestro
					li.container-anchor
						a(href='#unidad-especializada' title='Ir a la sección de Ayuda con Unidad especializada' text-break='true' text-title='Directorio' text-subtitle='UNE') UNE
					li.container-anchor
						a(href='#derechos-basicos' title='Ir a la sección de Ayuda con Derechos basicos' text-break='true' text-title='Derechos' text-subtitle='Básicos') Derechos básicos
					li.container-anchor
						a(href='#tipo-de-cambio' title='Ir a la sección de Tipo de cambio' text-break='true' text-title='Tipo de' text-subtitle='Cambio') Tipo de cambio
					li.container-anchor
						a(href='#sacale-provecho' title='Ir a la sección de Sácale provecho a tu seguro' text-break='true' text-title='Sácale provecho a tu' text-subtitle='Seguro') Sácale provecho a tu seguro
					li.container-anchor
						a(href='#manuales' title='Ir a la sección de manuales' text-break='true' text-title='Manuales de' text-subtitle='pago') Manuales de pago
					li.container-anchor
						a(href='#boletines' title='Ir a la sección de boletines' text-break='true' text-title='Consulta nuestros' text-subtitle='Boletines') Boletines
		#con-tus-pagos.c-introduction-text.section-change(aria-expanded="true")
			.c-introduction-text__text-container
				h2.mb-spacing Pago en línea de póliza de seguro
			section.o-card-gray
				p Consúltalo fácil, rápido y seguro
				a.o-btn.o-btn--green(href='#!' title='Realizar pago ahora') Realizar pago ahora

		#con-tus-facturas.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Facturas
			section.o-card-gray
				p Consulta y descarga tu factura
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora

		#con-codigo-qr.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Ayuda con tu código QR
			.o-section.o-section--max-800
				.c-introduction-text__text-container
					p El código QR que se encuentra en las pólizas de GMX Seguros, es una herramienta que garantiza la seguridad y autenticidad de las pólizas emitidas por la compañía.
					p Este código contiene los datos encriptados del asegurado, y a su vez, permite validar la información registrada en GMX Seguros.
					h3.my-spacing ¿Cómo visualizo el código QR?
					section.c-personal-attention
						ul
							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 1
									.o-card-step
										p Usa la cámara de tu teléfono móvil si cuenta con la funcionalidad de escaneo de código QR o descarga alguna aplicación para lectura de códigos QR.

							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 2
									.o-card-step
										p Escanear el código QR por medio de la aplicación.
							li
								.c-personal-attention__container-card.m-height
									.o-card-step.o-card-step--image
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
										.o-card-step--image__step
											p Paso 3
									.o-card-step
										p Se mostrará una liga por medio de la cual se desplegarán los datos registrados en GMX Seguros.
						ul.notification
							li
								.c-personal-attention__container-card
									.o-card-step.o-card-step--image.o-card-step--none.u-invisibility
										img(src=urlFolder + 'images/ayuda-con-tu-seguro/mobile.png' alt='alt')
									.o-card-with-button.o-card-with-button__without-icon
										.o-card-with-button__container-info
											h3 IMPORTANTE
											p Para tu seguridad, es importante que valides que la liga a la cual te redireccionará el código QR sea
											strong #[a(href='#' title='Ir hacia el codigo QR') qr.gmx.com.mx]
											p Para cualquier aclaración comunícate al teléfono
											strong #[a(href='tel:+5554804100' title='Ir hacia el numero de telefono') (55) 5480 4100]
			.o-section.o-section--max-800
				.c-introduction-text__text-container
					.o-section--video

		#con-tu-siniestro.c-introduction-text.section-change(aria-expanded="false")
			section.o-card-gray
				p Reportar Siniestro online
				a.o-btn.o-btn--green(href='#!' title='Reportar siniestro') Reportar siniestro

		#unidad-especializada.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Unidad Especializada (UNE)
			section.o-card-gray
				p Reclamaciones, consultas y sugerencias
				a.o-btn.o-btn--green(href='#!' title='Contactar ahora') Contactar ahora

		#derechos-basicos.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Derechos como contratante, asegurado y/o beneficiario de un seguro
			section.o-card-gray
				p CAMBIAR
				a.o-btn.o-btn--green(href='#!' title='CAMBIAR') CAMBIAR

		#tipo-de-cambio.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Tipo de cambio al día de hoy
			section.o-card-gray
				p Consultar el tipo de cambio
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora

		#sacale-provecho.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Administración de riesgos
			.o-section.c-introduction-text__text-container
				.c-introduction-text__text-container
					p GMX Seguros ofrece servicios de valor agregado, sin costo adicional, que ayudan a nuestros asegurados a conocer mejor sus riesgos, para poder actuar con oportunidad y prevenir accidentes.
				.o-card-step.o-card-step--blue.o-card-step--with-image
					.o-card-step--img
						img.o-img-circle(
							src=urlFolder + 'images/home/GMX-Especialista.png'
							alt='Imagen MedTips')
					.o-card-step--container
						h3 Equipo de especialistas
						p Ayudamos a diagnosticar los riesgos dentro las empresas u organizaciones, y a planear juntos una estrategia de prevención.
				.o-card-step.o-card-step--blue.o-card-step--with-image
					.o-card-step--img
						img.o-img-circle(
							src=urlFolder + 'images/home/GMX-Tips.png'
							alt='Imagen MedTips')
					.o-card-step--container
						h3 MediTips
						p Portal de acceso a, recomendaciones y actualizaciones para profesionales de la salud.
						.o-card-step--link
							a.o-btn-arrow(href='#' title='Ir hacia ...' target='_blank')
								i.i-icon.i-arrow-up-right(aria-hidden='true')
							.container-text
								p Visitar sitio Medtips

		#manuales.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing Manuales
			section.o-card-gray
				p Formas de pago para liquidar pólizas contratadas. Version español
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') Consultar ahora
			section.o-card-gray
				p GMX policy payment manual. English version
				a.o-btn.o-btn--green(href='#!' title='Consultar ahora') See now

		#boletines.c-introduction-text.section-change(aria-expanded="false")
			.c-introduction-text__text-container
				h2.mb-spacing CAMBIAR