extends ../template/_template

block append configuracion
    - var page = {};
    - page['link'] = 'compañia/index.html';
    - page['title'] = 'Historia Compañia';
    - page['descrip'] = 'La historia de la compañia GMX Seguros';
    - page['keys'] = 'seguros, negocios, personales';
    - page['lang'] = 'es';
    - page['responsive'] = true;
    - page['section'] = [];
    - page['libsCss'] = [];
    - page['libs'] = [];
    - page['plugins'] = ['splide'];
    - page['js'] = [];

    - var path = '../../';

block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title.o-module__title--adapted#title
                            h1 #[small Historia] Más de #[strong 25 años] de trayectoria

        .c-navigation-page
            .c-navigation-page__list-section.c-navigation-page__list-section--gap(aria-label='Secciones del sitio')
                ul(role='navigation')
                    li.container-anchor.container-anchor--active
                        a(href='#historia' title='Ir a la sección Historia' text-title='Más de' text-subtitle='25 años') Historia
                    li.container-anchor
                        a(href='#mision-vision-valores' title='Ir a la sección de misión, visión y valores' text-title='Procedimiento de atención a ' text-subtitle='Siniestros') Misión, visión y valores
                    li.container-anchor
                        a(
                            href='#innovacion'
                            title='Ir a la sección de innovación'
                            text-title='Documentación por ramo para el trámite de' text-subtitle='Siniestros'
                        ) Innovación
                    li.container-anchor
                        a(href='#integridad-corporativa' title='Ir a la sección de integridad corporativa' text-title='Definiciones' text-subtitle='') Integridad corporativa

        .o-section.o-section--padding.section-change#historia(aria-expanded='true')
            .c-introduction-text__text-container
                p Somos una empresa mexicana especializada en dar soluciones de aseguramiento personalizada en materia de Responsabilidad Civil y Daños.
                p Nuestros más de 25 años de trayectoria nos han permitido conocer el mercado de los seguros; lo que nos ha hecho desarrollar de manera constante productos innovadores, que resuelven las necesidades de protección ante distintos riesgos.
                .o-container-card
                    h3 Nuestro inicio
                    .o-card-step.o-card-step--history
                        p En 1998 The St. Paul Companies inició operaciones en México.

                    .o-card-image
                        img(src=urlFolder + 'images/compania/GMX-compania.png' alt="Imagen de la compañia GMX Seguros")

                    .o-card-step.o-card-step--blue-light
                        small EN
                        strong 2002,
                        p la firma fue adquirida por un conjunto accionario mexicano con amplia experiencia en seguros. Así nació Grupo Mexicano de Seguros S.A. de C.V.

        .o-section.o-section--padding.section-change#mision-vision-valores(aria-expanded='false')
            section.c-introduction-text__text-container
                p Brindar protección al patrimonio de nuestros clientes, tanto de sus bienes como en su persona, mediante productos especializados y asumiendo con alta RESPONSABILIDAD los riesgos tomados.
                .o-card-image.o-card-image--h-full
                    img(src=urlFolder + 'images/compania/GMX-oficina.png' alt="Imagen de la oficina de GMX Seguros")

            section.c-introduction-text__text-container
                .container-text
                    p Ser lideres en el mercado de seguros especializados en Responsabilidad Civil y otros ramos de Daños, bajo un crecimiento sostenido, #[small manteniéndonos como una compañía rentable, solvente y financieramente sana; con formación de PROFESIONALES MEXICANOS de alto nivel de especialización y responsabilidad.]

            section.c-introduction-text__text-container
                h2 Valores

        .o-section.o-section--padding.section-change#integridad-corporativa(aria-expanded='false')
            .o-section.o-section--max-1200
                .o-section.o-section--max-770
                    h3 GMX atiende y trabaja bajo el principio de Integridad.
                    .c-introduction-text__text-container
                        p Al ser nuestra empresa 100% mexicana, estamos comprometidos en participar en un cambio que contribuya a un clima de transparencia acorde a nuestros valores rectores LEALTAD, HONESTIDAD, CALIDAD PROFESIONALISMO, CONFIANZA Y RESPONSABILIDAD; bajo este principio GMX, maneja una tolerancia cero ante cualquier forma de corrupción, soborno o actividad ilícita, tal y como se establece en la Ley de Responsabilidades Administrativas vigente en nuestro país y en apego a las mejores prácticas nacionales e internacionales.
                        .o-card-image.o-card-image--h-full
                            img(src=urlFolder + 'images/compania/GMX-director-general.png' alt="Imagen del director general de GMX Seguros, Jorge B Flores Cruz")
                        p Todos los funcionarios, directores y colaboradores, recibimos información y capacitación en materia de ética, anticorrupción y cumplimiento normativo que sirven para esta transformación; existiendo el compromiso constante de hacer negocios de manera íntegra, justa y respetando la sana competencia entre el sector, y socios comerciales.
                        p Para lograrlo, contamos con un programa de Integridad y Cumplimiento Normativo, el cual está a disposición del público en general para que nuestros socios, proveedores y clientes puedan tener acceso.
                        .saludos 
                            p Recibe un saludo.
                            h4 Jorge B. Flores Cruz 3 #[span DIRECTOR GENERAL]
                            h5 GRUPO MEXICANO DE SEGUROS S.A. DE C.V.

                    section.c-introduction-text__text-container
                        h4 ¡Vive y comparte con nosotros esa cultura!
                        p Nuestro sistema de denuncia es anónimo y garantiza 100% la confidencialidad de los usuarios, por lo tanto, no habrá represalias ni consecuencias de ningún tipo contra la persona que realice una denuncia.
                        p GMX Seguros , prohíbe cualquier forma de castigo, acción disciplinaria o represalia contra cualquier persona sin distinción de puesto, cargo, o función; aplicando a quien quebrante lo anterior, las medidas disciplinarias previstas en nuestra política de sanciones.    
                        h2 Para denunciar puedes llamar a los teléfonos
