extends ../template/_template

block append configuracion
	- var page = {};
	- page['link'] = 'agente/avisos-y-noticias.html';
	- page['title'] = 'Soy agente';
	- page['descrip'] = 'Avisos y noticias';
	- page['keys'] = 'seguros, negocios, personales';
	- page['lang'] = 'es';
	- page['responsive'] = true;
	- page['section'] = [];
	- page['libsCss'] = [];
	- page['libs'] = [];
	- page['plugins'] = ['splide'];
	- page['js'] = [];

	- var path = '../../';

block contenido
	main.o-section--main
		.c-banner-text.c-banner-text--padding1
			section.o-section.o-section--banner-small
				.o-container
					.o-module.o-module--deco5.u-text-center
						.o-module__title.o-module__title--column#title
							h1 #[small Soy agente] Avisos y #[strong Noticias]
		.c-navigation-page
			.c-navigation-page__list-section
		.o-section
			.o-section.o-section--max-1000
				h2.title Últimos avisos
			.o-section.o-section--max-1200.o-section--notice.o-section--blue
				.c-notice__container.c-notice__container--header
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--general
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--important
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
			.o-section.o-section--max-1000.o-section--notice
				h3.subtitle Todas las noticias
				.c-notice__container.c-notice__container--body
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--important
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--general
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--important
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--general
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--important
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--general
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--urgent
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--important
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
					a(
						href="#"
						title="Ir a facturación de asegurados pendiente en 2023"
					).c-notice__card
						small 14/07/2023
						p Facturación de asegurados pendiente de 2023
						.c-notice__clasification.c-notice__clasification--general
						.o-btn-arrow.o-btn-arrow--blue
							i.i-icon.i-arrow-up-right(aria-hidden='true')
				.c-notice__pagination_container
					ul.c-notice__pagination(role="list")
						li.c-notice__list.c-notice__list--active
							a(
								href="#"
								title="Ir a pagina 1"
							) 1
						li.c-notice__list
							a(
								href="#"
								title="Ir a pagina 2"
							) 2
						li.c-notice__list
							a(
								href="#"
								title="Ir a pagina 3"
							) 3
						li.c-notice__list
							a(
								href="#"
								title="Ir a pagina 4"
							) 4
						li.c-notice__list
							a(
								href="#"
								title="Ir a pagina 5"
							) 5
						li.c-notice__list
							a(
								href="#"
								title="Ir a pagina ..."
							) ...