extends ../template/_template

append configuracion
    -var page			= {}
    -page['link']		= 'seguros/index.html'
    -page['title']		= 'Seguros'
    -page['descrip']	= 'Página de seguros'
    -page['keys']		= 'seguros, negocios, personales'
    -page['lang']		= 'es'
    -page['responsive']	= true
    -page['section']	= []
    -page['libsCss']	= []
    -page['libs']		= []
    -page['plugins']	= ['splide']
    -page['js']			= [] 

    - var path = '../../'


block contenido
    main.o-section--main
        .c-banner-text.c-banner-text--padding1
            section.o-section.o-section--banner-small
                .o-container
                    .o-module.o-module--deco5.u-text-center
                        .o-module__title 
                            h1 Reportar #[strong Siniestro]
        .c-navigation-page
            nav.c-navigation-page__list-section(aria-label="Secciones del sitio")
                ul
                    li.container-anchor.container-anchor--active
                        a(href="#reportar-siniestro" title="Ir a la sección Reportar siniestro") Reportar siniestro
                    li.container-anchor
                        a(href="#procedimiento-siniestros" title="Ir a la sección de Procedimiento de atención a siniestros") Procedimiento de atención a siniestros
                    li.container-anchor
                        a(href="#Documentacion-siniestros" title="Ir a la sección de Documentación por ramo para el trámite de siniestros") Documentación por ramo para el trámite de siniestros
                    li.container-anchor
                        a(href="#definiciones" title="Ir a la sección de Definiciones") Definiciones

        .c-introduction-text#reportar-siniestro
            section.o-card-gray
                h2 Reportar Siniestro #[br]online
                a.o-btn.o-btn--green(href="#!" title="Reportar siniestro") Reportar siniestro

        .c-introduction-text#reportar-siniestro
            section.o-bento
                h2 Otros canales para reportar un siniestro:
                .row.row--uno
                    .row--uno__col.col--uno
                        .row--uno__col__box.row--uno__col__box--uno.o-card.o-card--blueDark
                            div.container-text
                                small Teléfono
                                h3 24 horas los#[br]365 días del año
                                div.container-image
                                    img(src=urlFolder+"images/soy-agente/GMX-telefono.png" alt='')
                            div.container-with-button
                                a.o-btn-arrow(href="tel:8002153455" title="Ir hacia el numero de telefono")
                                    i.i-icon.i-arrow-up-right(aria-hidden="true")
                                div.container-text
                                    p (55) 55841736
                            div.container-with-button
                                a.o-btn-arrow(href="tel:8002153455" title="Ir hacia el numero de telefono")
                                    i.i-icon.i-arrow-up-right(aria-hidden="true")
                                div.container-text
                                    small Resto de la República#[br]LADA
                                    p 800 2153 455
                        .row--uno__col__box.row--uno__col__box--dos.o-card.o-card--blueDark
                            div.container-image.container-image--height-full
                                img(src=urlFolder+"images/soy-agente/GMX-todo-listo.png" alt="alt")
                    .row--uno__col.col--dos.o-card
                        div.container-text.container-text--color-black
                            p ¿Tienes dudas al respecto de nuestros procedimientos y atención a siniestros?
                            div.text-serif
                                p Lunes a Jueves de 8:30 a 17:30 horas y Viernes de 8:30 a 15:00 horas
                            div.container-with-button
                                a.o-btn-arrow(href="tel:8002153455" title="Ir hacia el numero de telefono")
                                    i.i-icon.i-arrow-up-right(aria-hidden="true")
                                div.container-text
                                    small Conmutador
                                    p (55) 5480 4000
                .row.row--dos.o-card-with-button.o-card-with-button--width-full
                    div.o-card-with-button__container-button
                        a.o-btn-arrow(href="mailto:siniestros@gmx.com.mx" title="Ir hacia el numero de telefono")
                            i.i-icon.i-arrow-up-right(aria-hidden="true")
                    div.o-card-with-button__container-info
                        p Solicita atención con el área de Siniestros
                        strong siniestros@gmx.com.mx
                        p respuesta máxima al día hábil siguiente

        .o-section
            section.c-personal-attention
                h2 Contamos con atención especializada las 24 horas de los 365 días del año.
                ul
                    li 
                        .c-personal-attention__container-card
                            .o-card-step.o-card-step--image
                                img(src=urlFolder+"images/soy-agente/GMX-chateando.png" alt="alt")
                                .o-card-step--image__step
                                    p Paso 1
                            .o-card-step
                                h3 Realizar el reporte
                                p Podrás realizarlo vía web en nuestra página principal o vía telefónica a nuestra Cabina de Siniestros GMX.
                        .c-personal-attention__container-card
                            .o-card-step.o-card-step--image.o-card-step--none.u-invisibility
                                img(src=urlFolder+"images/soy-agente/GMX-chateando.png" alt="alt")
                            .o-card-step.o-card-step--blue
                                div.container-with-button
                                    a.o-btn-arrow(href="tel:+5555841736" title="Ir hacia el numero de telefono")
                                        i.i-icon.i-arrow-up-right(aria-hidden="true")
                                    div.container-text
                                        p (55) 55841736
                                div.container-with-button
                                    a.o-btn-arrow(href="tel:8002153455" title="Ir hacia el numero de telefono")
                                        i.i-icon.i-arrow-up-right(aria-hidden="true")
                                    div.container-text
                                        small Resto de la República
                                        p 800 2153 455
                                div.container-image
                                    img(src=urlFolder+"images/soy-agente/GMX-telefono.png" alt='')

                    li 
                        .c-personal-attention__container-card
                            .o-card-step.o-card-step--image
                                img(src=urlFolder+"images/soy-agente/GMX-solicitud-datos.png" alt="alt")
                                .o-card-step--image__step
                                    p Paso 2
                            .o-card-step
                                h3 Solicitud de datos
                                p Al momento de realizar el reporte es importante tener contigo datos del Asegurado o Beneficiario, ya que se recavarán datos mínimos e indispensables para el análisis del reclamo.
                    li 
                        .c-personal-attention__container-card
                            .o-card-step.o-card-step--image
                                img(src=urlFolder+"images/soy-agente/GMX-asignacion-reportes.png" alt="alt")
                                .o-card-step--image__step
                                    p Paso 3
                            .o-card-step
                                h3 Asignación de reportes
                                p Una vez que reportado el siniestro a Cabina GMX, se brindará un número de reporte el cuál será el identificador único para el siniestro ocurrido.
                    li 
                        .c-personal-attention__container-card
                            .o-card-step.o-card-step--image
                                img(src=urlFolder+"images/soy-agente/GMX-primer-contacto.png" alt="alt")
                                .o-card-step--image__step
                                    p Paso 4
                            .o-card-step
                                h3 Primer contacto
                                p Para nosotros es muy importante estar para ti en momentos complicados, es por eso que una vez realizado el reporte, el ajustador que atienda el siniestro se pondrá en contacto vía telefónica con el Asegurado o Beneficiario a la brevedad.